body{
    background-color: #d3d3d3; 
}

a{
    text-decoration: None;
    color: black
}

.content{
    width: 600px;
    margin: auto;
}
.content-wap{
    text-align: center;
}

.produto{
    background-color: #A5A5A5;
    border-radius: 3px;
    border-width: 3px;
    border-color: #3bcccc;
    list-style-type: none;
    margin: 5px;
    height: auto;
    width: 100%;
    padding: 10px 3px;
    text-align:center;
}

li.produto:hover{
    background-color: #d8e0ed;
}

div#detalhes_produto{
    background-color: #d8e0ed;
    text-align: center;
}
button{
    cursor: pointer;
    background-color: brown;
}